/* ============ PROFILE : CARI LOKASI ============ */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
   font-family: 'Poppins', sans-serif;
   margin: 0;padding: 0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
}
.container{
    width: 100vw;
    height: 100vh;
}
.topbar{
    width: 100vw;
    height: 7vh;
    background: #56ab91;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.topbar p,
.topbar a i{
    font-size: 2.5vh;
    color: #fff;
    align-items: center;
}
.content{
    width: 100vw;
    height: 93vh;
    display: flex;
    flex-direction: column;
    padding: 15px;
    font-size: 2vh;
    color: #000;
}
.lokasi{
    font-weight: bold;
    margin: 5px 0;
}
.provinsi{
    width: 100%;
    height: 4vh;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
    color: #000;
}

.tombol button{
    width: 35vw;
    height: 5vh;
    background: #fff;
    border-radius: 25px;
    border: 1px solid #56ab91;
    color: #56ab91;
    font-size: 2vh;
    /* //posisi top  */
    position: absolute;
    top: 70vh;
    left: 32.5vw;
    /* //posisi bottom  */
}
.tombol button:hover{
    background: #56ab91;
    color: #fff;

}
